footer {
  height: 150px;
  background-color: #0e1a35;
}


.footer-text__reserved {
  font-size: 18px;
  font-family: "Roboto", sans-serif ;
  color: #8492af;
  padding-top: 75px;
}


#end_menu li{
           	display: inline-block;
           	padding: 0 25px;

}

#end_menu li a{
           color: #8492af;
           font-size: 18px;
           font-family: "Roboto", sans-serif ;
}

#end_menu li a i {
  padding-left: 20px;
}
